#popup_container {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 200px;
	max-width: 100%;
	background: #FFFFFF;
	border: 2px solid #6164C1;
	color: #000;
}

#popup_title{
	/*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%) repeat scroll 0 0;*/
	background:#F8F8F8 url("../theme/images/mosaic-pattern.png") repeat scroll 0% 0%;
    border: 1px solid #c2c2c2;
    box-shadow: 0 1px 0 #f9f9f9 inset;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 1.75em;
	color: #333333;
	cursor:move;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	padding: 1em 1.75em;
	margin: 0em;
	background-color:#FFF;
	color:#174170;
	font-weight:bold;
}

#popup_content_dialog {
	padding: 1em 1.75em;
	margin: 0em;
}
#popup_content_loading {
	padding: 1em 1.75em;
	margin: 0em;
	text-align:center;
}

#popup_message {
	text-align:center;
}
#popup_message_dialog {
	width:100%
}
#popup_panel {
	text-align: center;
	margin: 1em 1em 0em 1em;
}

#popup_prompt {
	margin: .5em 0em;
}
<!-- POPUP 1 -->
#popup_container_popup {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 200px;
	max-width: 100%;
	background: #FFF;
	border: solid 3px #208BBD;
	color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#popup_title_popup {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.75em;
	color: #FFFFFF;
	padding: 0em;
	margin: 0em;
	text-align:center;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #6164C1 0%, #6164C1 100%) repeat scroll 0 0;
    border: 1px solid #6164C1;
    box-shadow: 0 1px 0 #6164C1 inset;
}
#popup_content_popup {
	padding: 1em 1.75em;
	margin: 0em;
	background-color:#ffffff;
	color:#174170;
	cursor:move;
	border: 3px solid #6164C1;
	max-height:450px;
	overflow:auto;
}

#popup_message_popup {
	text-align:center;
}
#popup_message_popup {
	width:100%
}
#popup_panel_popup {
	text-align: center;
	margin: 1em 0em 0em 1em;
}

<!-- POPUP 2-->
#popup_container_popup_two {
	font-family: Arial, sans-serif;
	font-size: 12px;
	min-width: 200px;
	max-width: 100%;
	background: #FFF;
	border: solid 3px #E04545;
	color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#popup_title_popup_two {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.75em;
	color: #FFFFFF;
	padding: 0em;
	margin: 0em;
	text-align:center;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #E04545 0%, #E04545 100%) repeat scroll 0 0;
    border: 1px solid #E04545;
    box-shadow: 0 1px 0 #E04545 inset;
}
#popup_content_popup_two {
	padding: 1em 1.75em;
	margin: 0em;
	background-color:#F9F9F9;
	color:#FFFFFF
	cursor:move;
	border: 3px solid #E04545;
	max-height:450px;
	overflow:auto;
}

#popup_message_popup_two {
	text-align:center;
}
#popup_message_popup_two {
	width:100%
}
#popup_panel_popup_two {
	text-align: center;
	margin: 1em 0em 0em 1em;
}
/*
#popup_content.alert {
	background-image: url(../img/info.gif);
}
#popup_content.confirm {
	background-image: url(../img/important.gif);
}
#popup_content.prompt {
	background-image: url(../img/help.gif);
}
*/