body {
     background:#0F466E;
	 background: rgba(0, 0, 0, .3);
     background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5093C4',endColorstr='#0F466E',GradientType=1);
     height:100px;
}