table.tabelajax{width:100%;text-align:left;border:1px solid #c2c2c2;border-collapse:collapse; color:#4c4c4c;/*color:#3c7faf;*/ direction:ltr; line-height:18px;background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f1f1f1 0%, #dbdbdb 100%) repeat scroll 0 0;border:1px solid #c2c2c2;border-radius: 3px;box-shadow: 0 1px 0 #f9f9f9 inset;}
table.tabelajax tr th{padding:3px;text-align:left;border-bottom:1px solid #DDDDDD; color:#4c4c4c; /*text-transform:uppercase;*/}
table.tabelajax tr span.order{cursor:pointer;}
table.tabelajax tr.head{background-color:#FFF; border:1px solid #c2c2c2;box-shadow:1px 0 #f9f9f9 inset;}
table.tabelajax tr.headcontent{background:rgba(0, 0, 0, 0) linear-gradient(to top, #F8F8F8 0%, #F8F8F8 100%) repeat scroll 0 0}
table.tabelajax tr.head th{font-weight:normal; color:#4c4c4c}
table.tabelajax tr.headcontent th{font-weight:normal; color:#4c4c4c}
table.tabelajax tr.head .labelload{color:#777777;display:none;}
table.tabelajax tr.headcontent .labelload{color:#777777;display:none;}
table.tabelajax tr.head span{float:right;}
table.tabelajax tr.headcontent span{float:right;}
table.tabelajax td{color: #4c4c4c;padding:5px;background-color: #FFFFFF;border-bottom:1px solid #DDDDDD;border-left:1px solid #DDDDDD;cursor:pointer; font-size:12px;}
table.tabelajax tr.hilite td{background-color:#D9E3EF;}table.tabelajax tr.hilites td{background-color:#D9E3EF;}
table.tabelajax td.odd{background-color:#F9F9F9;}
table.tabelajax td.alt{background-color:#FFFFFF;}
table.tabelajax td.val1{background-color:#76ff03;}
table.tabelajax td.val2{background-color:#FC8D8D;}
table.tabelajax td.val3{background-color:#9aa58c;}
table.tabelajax td.val4{background-color:#33bfff;}
table.tabelajax td.val5{background-color:#ffee33;}
table.tabelajax td.val6{background-color:#2a3eb1;}
table.tabelajax tr.selected td{background-color:#d9e3ef;}
/*table.tabelajax input, table.tabelajax form {margin:0px;padding:0px;}*/
table.tabelajax input.tb_chk, table.tabelajax input.tb_chkall{cursor:pointer;}
table.tabelajax input.tb_chkall{/*margin-left:4px*/}table.tabelajax input.tb_chk{margin-left:2px}
table.tabelajax input.tb_text, table.tabelajax select {color: #555;background-color: #FFF;background-image: none;border: 1px solid #CCC;border-radius: 4px;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;}
table.tabelajax input.tb_text:hover, table.tabelajax input.tb_text.mousedown, table.tabelajax select:hover, table.tabelajax select.mousedown{border-color:#66AFE9;outline:0px none;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,0px 0px 8px rgba(102, 175, 233, 0.6)}
table.tabelajax input#tb_hal, table.tabelajax input#tb_view{width:40px;text-align:right;}
table.tabelajax input#tb_cari{width:140px;}
table.tabelajax .paging{font-size:19px;color:#474747;position:relative;top:2px;font-family:"Arial Black", Gadget, sans-serif}
table.tabelajax .paging:hover{color: #001D61;}
table.tabelajax .pdisabled{font-size:19px;color:#DDDDDD;position:relative;top:2px;font-family:"Arial Black", Gadget, sans-serif}input.btn[type="button"]{background-image: -moz-linear-gradient(center top , #FEFEFE 0%, #F7F7F7 50%, #F3F3F3 50%, #E6E6E6 100%);    background-repeat: repeat-x;border: 1px solid #CCCCCC; border-radius: 4px 4px 4px 4px;color: #2D2D2D;font-weight: normal;padding: 0 0px 0px;   text-shadow: 1px 1px #FFFFFF;}
input.btn[type="button"]:hover{ background-image: -moz-linear-gradient(center top , #5E91BE 0%, #40729F 50%, #255E90 50%, #3D74A5 100%);  border-color: #326A9C; color: #FFFFFF; cursor: pointer;text-shadow: 0.1em 0.1em #666666;}
table.tabelnoborder td{border:none;}
/*button.btn{font-size:11px; direction:ltr;}*/
table.tabelajax.no-border tr td{border:0px}
.error_table{background-color:#F44336;color:#FFF}
/*ABC3D7*/
